@charset "UTF-8";

 
.icon-cloudapp:before { content: '\63'; } /* 'c' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-plus-1:before { content: '\e0c1'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */